Options +FollowSymLinks
RewriteEngine On

# Ignorar archivos y directorios existentes
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [NC,L]

# Redirigir todo lo demás a index.php
RewriteRule ^ index.php [NC,L]
