/* General styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}

h1 {
    color: #4caf50;
    text-align: center;
    margin-top: 20px;
}

p {
    text-align: center;
    font-size: 1.1em;
    color: #555;
}

/* Navigation links */
a {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    color: #fff;
    background-color: #4caf50;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1em;
    transition: background-color 0.3s ease;
}

a:hover {
    background-color: #45a049;
}

/* Form styles */
form {
    max-width: 600px;
    margin: 30px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #4caf50;
}

select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
}

button {
    width: 100%;
    padding: 10px;
    font-size: 1.1em;
    color: #fff;
    background-color: #4caf50;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

/* Page container */
.container {
    padding: 20px;
    text-align: center;
}

/* Footer */
footer {
    margin-top: 40px;
    text-align: center;
    font-size: 0.9em;
    color: #777;
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    text-align: left;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

thead {
    background-color: #4caf50;
    color: #fff;
}

thead th {
    padding: 10px;
}

tbody tr {
    border-bottom: 1px solid #ddd;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

tbody td {
    padding: 10px;
}

/* Estilo para el botón de volver */
.btn-back {
    display: inline-block;
    margin: 10px 0;
    padding: 8px 15px;
    background-color: #4caf50;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1em;
    transition: background-color 0.3s ease;
}

.btn-back:hover {
    background-color: #45a049;
}

/* Estilo para el botón de eliminar */
.btn-delete {
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.9em;
    transition: background-color 0.3s ease;
}

.btn-delete:hover {
    background-color: #d32f2f;
}

.btn-create {
    background-color: #4caf50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1em;
    cursor: pointer;
}

.btn-create:hover {
    background-color: #45a049;
}
